body{
    background-color: aqua;
}
h1{
    color:brown ;
    text-align:center;
}
h2{
    color:steelblue  ;
    text-align:center;
}
h3{
    color:crimson;
}
.m{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
/* Importing Open Sans Condensed Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


#digital-clock {
background-color: #29d2db;
width: fit-content;
margin: auto;
padding-top: 20px;
padding-bottom: 20px;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 40px;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(223, 22, 22, 0.19);
color: brown;
}